<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <!-- <h1>
      <%= @pg.sentence %>
    </h1>

    <% @pg.pg_all.each do |word| %>
      <p><%= word %></p>
    <% end %> -->
  </body>
</html>
